.Navigation-logo {
  height: 80px;
  cursor: pointer;
}

.Navigation-logo:hover {
  animation: Navigation-logo-spin infinite 20s linear;
}

.Navigation-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Navigation-title {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Navigation-intro {
  font-size: large;
}

@keyframes Navigation-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}