button:focus {outline:0;}

.Button-base {
  height: 35px;
  width: 150px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  background-color: '#e9e9e9';
}

.Button-primary {
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: rgb(68, 156, 250);
  height: 60px;
  min-width: 250px;
  width: 30%;
  cursor: pointer;
  border: solid thin rgb(68, 156, 250);
}

.Button-primary:active {
  color: white;
  background-color: rgb(68, 156, 250);
}

.Button-primary:hover {
  color: white;
  background-color: rgb(68, 156, 250);
}